___
# Ciência dos Dados - PROJETO 1

### Victor Arruda Niubó e Bruno Morales Balkins

## Perfil das mulheres como chefes de família:

___
## Introdução


Nesse projeto iremos analisar o perfil de mulheres no papel de chefes de família e comparar com homens no mesmo papel, para isso escolhemos as seguintes variáveis do banco de dados:
    - V0302: Sexo.
    - V8005: Idade.
    - V0402: Condição na familia
    - V4704: Condição de atividade na semana de referência para pessoas de 10 anos ou mais de idade.
    - V4805: Condição de ocupação na semana de referência para pessoas de 10 anos ou mais de idade.
    - V4706: Posição na ocupação no trabalho principal da semana de referência para pessoas de 10 anos ou mais de 
    idade.

___
## Filtros da base de dados

In [62]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [61]:
dados = pd.read_csv('PES2015.csv',sep=',')

In [77]:
#Filtro de dados:

dados_filtrados = dados.loc[(dados.V0302)|(dados.V8005)|(dados.V0402)|(dados.V4704)|(dados.V4805)|(dados.V4706), \
          ['V0302','V8005','V0402','V4704','V4805','V4706']]

#Mudando nomes das colunas:

dados_filtrados.rename(columns={'V0302':'Sexo','V8005':'Idade','V0402':'Condicao_familia',\
                                'V4704':'Atividade_na_semana','V4805':'Ocupação_na_semana',\
                                'V4706':'Posicao_no_Trabalho'}, inplace=True)

In [76]:
df2 = dados_filtrados.dropna(subset = ['Atividade_na_semana','Ocupação_na_semana','Posicao_no_Trabalho'])

In [81]:
df2 = df2[(df2['Condicao_familia'])== 1]
df2 = df2[(df2['Sexo'])== 4]
df2

,Sexo,Idade,Condicao_familia,Atividade_na_semana,Ocupação_na_semana,Posicao_no_Trabalho
1,4,23,1,1.0,1.0,1.0
2,4,35,1,1.0,1.0,4.0
11,4,47,1,1.0,1.0,7.0
16,4,34,1,1.0,1.0,1.0
24,4,60,1,1.0,1.0,3.0
25,4,50,1,1.0,1.0,3.0
31,4,46,1,1.0,1.0,3.0
35,4,49,1,1.0,1.0,9.0
40,4,52,1,1.0,1.0,3.0
52,4,43,1,1.0,1.0,1.0
61,4,62,1,1.0,1.0,3.0
67,4,41,1,1.0,1.0,4.0
99,4,44,1,1.0,1.0,1.0
145,4,40,1,1.0,1.0,1.0
165,4,40,1,1.0,1.0,7.0
184,4,32,1,1.0,1.0,10.0
195,4,38,1,1.0,1.0,1.0
215,4,46,1,1.0,1.0,3.0
223,4,46,1,1.0,1.0,1.0
228,4,45,1,1.0,1.0,4.0
236,4,38,1,1.0,1.0,7.0
240,4,32,1,1.0,1.0,6.0
244,4,39,1,1.0,1.0,9.0
251,4,49,1,1.0,1.0,1.0
253,4,21,1,1.0,1.0,1.0
255,4,34,1,1.0,1.0,1.0
258,4,38,1,1.0,1.0,1.0
261,4,36,1,1.0,1.0,1.0
264,4,45,1,1.0,1.0,4.0
267,4,27,1,1.0,1.0,9.0
...,...,...,...,...,...,...
356680,4,53,1,1.0,1.0,7.0
356685,4,47,1,1.0,1.0,6.0
356688,4,28,1,1.0,1.0,7.0
356690,4,42,1,1.0,1.0,6.0
356704,4,31,1,1.0,1.0,9.0
356708,4,44,1,1.0,1.0,10.0
356712,4,31,1,1.0,1.0,6.0
356715,4,40,1,1.0,1.0,1.0
356718,4,21,1,1.0,1.0,1.0
356720,4,39,1,1.0,1.0,9.0
356724,4,22,1,1.0,1.0,1.0
356728,4,37,1,1.0,1.0,6.0
356730,4,37,1,1.0,1.0,1.0
356733,4,41,1,1.0,1.0,10.0
356752,4,30,1,1.0,1.0,9.0
356755,4,43,1,1.0,1.0,1.0
356758,4,35,1,1.0,1.0,1.0
356763,4,21,1,1.0,1.0,1.0
356765,4,37,1,1.0,1.0,6.0
356774,4,57,1,1.0,1.0,6.0
356775,4,32,1,1.0,1.0,7.0
356786,4,49,1,1.0,1.0,1.0
356803,4,49,1,1.0,1.0,7.0
356807,4,27,1,1.0,1.0,1.0
356830,4,41,1,1.0,1.0,4.0
356849,4,44,1,1.0,1.0,3.0
356851,4,49,1,1.0,1.0,1.0
356860,4,27,1,1.0,1.0,6.0
356868,4,35,1,1.0,1.0,6.0
356871,4,46,1,1.0,1.0,6.0

In [72]:
df2[df2.Sexo==4].Sexo.value_counts()

4    70337
Name: Sexo, dtype: int64

In [73]:
df2[df2.Sexo==2].Sexo.value_counts()

2    94856
Name: Sexo, dtype: int64

In [74]:
pd.crosstab(index=[df2.Sexo], columns=[df2.Posicao_no_Trabalho])

Posicao_no_Trabalho,1.0,2.0,3.0,4.0,6.0,7.0,9.0,10.0,11.0,12.0,13.0
Sexo,,,,,,,,,,,
2,37871,636,5177,15609,432,496,25974,4270,2610,162,1619
4,24457,54,7578,8092,3099,7038,12526,1668,3432,29,2364

In [75]:
pd.crosstab(index=[df2.Sexo], columns=[df2.Atividade_na_semana])

Atividade_na_semana    1.0
Sexo
2                    94856
4                    70337

In [76]:
pd.crosstab(index=[df2.Sexo], columns=[df2.Condicao_familia])

Condicao_familia      1      2      3     4    5    6    7  8
Sexo
2                 55719  14300  20054  4145  467  154   15  2
4                 25713  29844  11329  2901  300  118  132  0

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!