___
# Ciência dos Dados - PROJETO 1

### Victor Arruda Niubó e Bruno Morales Balkins

## Perfil das mulheres como chefes de família:

___
## Introdução


Nesse projeto iremos analisar o perfil de mulheres no papel de chefes de família e comparar com homens no mesmo papel, para isso escolhemos as seguintes variáveis do banco de dados:
    - V0302: Sexo.
    - V8005: Idade.
    - V4704: Condição de atividade na semana de referência para pessoas de 10 anos ou mais de idade.
    - V4805: Condição de ocupação na semana de referência para pessoas de 10 anos ou mais de idade.
    - V4706: Posição na ocupação no trabalho principal da semana de referência para pessoas de 10 anos ou mais de 
    idade.

___
## Filtros da base de dados

In [13]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [14]:
dados = pd.read_csv('PES2015.csv',sep=',')

In [15]:
#Filtro de dados:

dados_filtrados = dados.loc[(dados.V0302)|(dados.V8005)|(dados.V4704)|(dados.V4805)|(dados.V4706), \
          ['V0302','V8005','V4704','V4805','V4706']]

#Mudando nomes das colunas:

dados_filtrados.rename(columns={'V0302':'Sexo','V8005':'Idade',\
                                'V4704':'Atividade na semana','V4805':'Ocupação na semana',\
                                'V4706':'Posição no Trabalho'}, inplace=True)
dados_filtrados.head(2)

   Sexo  Idade  Atividade na semana  Ocupação na semana  Posição no Trabalho
0     2     23                  1.0                 1.0                  4.0
1     4     23                  1.0                 1.0                  1.0

In [16]:
dados_filtrados.sort_values(by='Sexo', ascending=False).head(5)

,Sexo,Idade,Atividade na semana,Ocupação na semana,Posição no Trabalho
356903,4,7,NaN,NaN,NaN
149681,4,1,NaN,NaN,NaN
149668,4,25,1.0,1.0,1.0
283714,4,73,2.0,NaN,NaN
149670,4,25,1.0,1.0,1.0

In [17]:
dados_filtrados[dados_filtrados.landlocked==1].landlocked.value_counts()

AttributeError: 'DataFrame' object has no attribute 'landlocked'

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!