___
# Ciência dos Dados - PROJETO 1

### Victor Arruda Niubó e Bruno Morales Balkins

## Perfil das mulheres como chefes de família:

___
## Introdução


Nesse projeto iremos analisar o perfil de mulheres no papel de chefes de família e comparar com homens no mesmo papel, para isso escolhemos as seguintes variáveis do banco de dados:
    - V0302: Sexo.
    - V8005: Idade.
    - V0402: Condição na familia
    - V4704: Condição de atividade na semana de referência para pessoas de 10 anos ou mais de idade.
    - V4805: Condição de ocupação na semana de referência para pessoas de 10 anos ou mais de idade.
    - V4706: Posição na ocupação no trabalho principal da semana de referência para pessoas de 10 anos ou mais de 
    idade.

___
## Filtros da base de dados

In [129]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [130]:
dados = pd.read_csv('PES2015.csv',sep=',')

In [131]:
#Filtro de dados:

dados_filtrados = dados.loc[(dados.V0302)|(dados.V8005)|(dados.V0402)|(dados.V4704)|(dados.V4805)|(dados.V4706), \
          ['V0302','V8005','V0402','V4704','V4805','V4706']]

#Mudando nomes das colunas:

dados_filtrados.rename(columns={'V0302':'Sexo','V8005':'Idade','V0402':'Condicao_familia',\
                                'V4704':'Atividade_na_semana','V4805':'Ocupação_na_semana',\
                                'V4706':'Posicao_no_Trabalho'}, inplace=True)

In [132]:
df2 = dados_filtrados.dropna(subset = ['Atividade_na_semana','Ocupação_na_semana','Posicao_no_Trabalho'])

In [134]:
df2 = df2[(df2['Condicao_familia'])== 1]
df2 = df2[(df2['Sexo'])== 4]
df2 = df2[(df2['Atividade_na_semana'])== 1]
df2 = df2[(df2['Ocupação_na_semana'])== 1]
df2 = df2[(df2['Posicao_no_Trabalho'])!= 13]

In [151]:
df2.Sexo = df2.Sexo.astype('category')
df2.Idade = df2.Idade.astype('float')
df2['Condicao_familia'] = df2['Condicao_familia'].astype('category')
df2['Atividade_na_semana'] = df2['Atividade_na_semana'].astype('category')
df2['Ocupação_na_semana'] = df2['Ocupação_na_semana'].astype('category')
df2['Posicao_no_Trabalho'] = df2['Posicao_no_Trabalho'].astype('category')

In [157]:
df2.Sexo.cat.categories = (['F'])
df2['Condicao_familia'].cat.categories = (['Pessoa de referência'])
df2['Atividade_na_semana'].cat.categories = (['Economicamente ativa'])
df2['Ocupação_na_semana'].cat.categories = (['Ocupada'])
df2['Posicao_no_Trabalho'].cat.categories = (['Empregado com carteira de trabalho assinada','Militar',\
                                              'Funcionário público estatutário',\
                                              'Outro empregado sem carteira de trabalho assinada',\
                                              'Trabalhador doméstico com carteira de trabalho assinada',\
                                             'Trabalhador doméstico sem carteira  de trabalho assinada',\
                                             'Conta própria','Empregador','Trabalhador na produção para o próprio consumo',\
                                             'Trabalhador na construção para o próprio uso'])

In [158]:
pd.crosstab(index=[df2.Sexo], columns=[df2.Posicao_no_Trabalho])

Posicao_no_Trabalho,Empregado com carteira de trabalho assinada,Militar,Funcionário público estatutário,Outro empregado sem carteira de trabalho assinada,Trabalhador doméstico com carteira de trabalho assinada,Trabalhador doméstico sem carteira de trabalho assinada,Conta própria,Empregador,Trabalhador na produção para o próprio consumo,Trabalhador na construção para o próprio uso
Sexo,,,,,,,,,,
F,8031,21,3065,2686,1345,3226,5594,662,875,10

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!