___
## Ciência dos Dados - PROJETO 3 - INSPER

___
#### Victor Arruda Niubó

#### Giovanni Pertence Cardoso dos Santos

#### Gustavo Schlieper Tessitore

#### Leonardo Cesari Costa
___

# Previsão da quantidade de views

___

## 1. INTRODUÇÃO

O objetivo do projeto é estimar a quantidade de visualizações que um vídeo terá com base no título, horário de publicação e as tags atribuidas aos vídeos.

___
## 2. MINERANDO DADOS e CARACTERÍSTICAS DO DATASET

In [19]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats
import itertools
import math
import json
import os
from scipy.stats import norm

In [20]:
#remove mesagens de aviso do Pandas
pd.options.mode.chained_assignment = None
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/giovannid.santos/Documents/Insper/3_Semestre/CDADOS-DP/cdados_dp/P3

### BASE DE DADOS

In [21]:
# Base de dados dos videos em destaque do youtube US
you_data = pd.read_csv("USvideos.csv")

you_data.drop_duplicates(subset = 'video_id', keep = 'last', inplace = True)

# jason que contém a relação id - categoria
ids = json.loads(open('US_category_id.json').read())


# filtro das variáveis de interesse
you_analysis = you_data.loc[you_data.views|you_data.title|you_data.tags|you_data.category_id,\
                           ['views', 'title', 'tags', 'category_id']]

In [22]:
# separação da string das tags em uma lista de strings
tags_split = you_analysis.tags.str.split(pat = '|')
you_analysis['tags_split'] = tags_split
you_analysis.head()

,views,title,tags,category_id,tags_split
10,81377,Dion Lewis' 103-Yd Kick Return TD vs. Denver! ...,NFL|Football|offense|defense|afc|nfc|American ...,17,"[NFL, Football, offense, defense, afc, nfc, Am..."
36,288922,TL;DW - Every DCEU Movie Before Justice League,screenjunkies|screen junkies|sj news|honest tr...,1,"[screenjunkies, screen junkies, sj news, hones..."
41,34785,Iraq-Iran earthquake: Deadly tremor hits borde...,bbc|bbc news|news|iran|iran news|iraq|iraq new...,25,"[bbc, bbc news, news, iran, iran news, iraq, i..."
55,1496225,Jason Momoa Wows Hugh Grant With Some Dothraki...,Graham Norton|Graham Norton Show Official|Ente...,24,"[Graham Norton, Graham Norton Show Official, E..."
76,237307,Mayo Clinic's first face transplant patient me...,Mayo Clinic|Health Care (Issue)|Healthcare Sci...,28,"[Mayo Clinic, Health Care (Issue), Healthcare ..."

In [23]:
# Junta todas as strings em uma lista só para pder fazer um value_counts() e criar um
# dataframe com as tags e as frquencias de cada uma
merged = list(itertools.chain(*you_analysis.tags_split))
contador = pd.DataFrame({'col':merged})
limpino = contador[contador.col != '[none]']
dfl = limpino.col.value_counts().rename_axis('tags').reset_index(name='counts')
dfl = dfl[(dfl['counts'])> 10]

In [24]:
dfl

                    tags  counts
0                  funny     631
1                 comedy     515
2                  humor     277
3               comedian     227
4                  music     213
5            celebrities     212
6              interview     203
7                 how to     197
8                   2018     197
9              celebrity     195
10           funny video     194
11                 video     184
12                 jokes     183
13                  news     177
14                  food     172
15               science     171
16            late night     166
17                   NBC     163
18                  live     162
19             hollywood     158
20                  show     157
21                  clip     152
22            television     147
23                review     145
24               comedic     143
25                Comedy     142
26                  2017     141
27                sports     137
28             talk show     136
29            basketball     135
...                  ...     ...
1416            designer      11
1417              andrew      11
1418                face      11
1419       casey neistat      11
1420       mental health      11
1421           Universal      11
1422               speed      11
1423              rescue      11
1424       ariana grande      11
1425          Bill Hader      11
1426               power      11
1427              street      11
1428     time (magazine)      11
1429             college      11
1430               crime      11
1431           raw video      11
1432            spinners      11
1433      nba highlights      11
1434         how to bake      11
1435  wwe raw highlights      11
1436      its alex clark      11
1437               top 5      11
1438                  LL      11
1439              animal      11
1440        charlie puth      11
1441             hip-hop      11
1442               shock      11
1443               Simon      11
1444                 Fun      11
1445                eggs      11

[1446 rows x 2 columns]

In [26]:
# Separa as linhas que contém certa tag

for e in range(len(dfl.tags)):
#     var_df = you_analysis[you_analysis['tags'].str.contains(dfl.tags[e])]
#     var_df[e + '_freq'] = dfl.counts[contador]
#     #var_df[e + '_freq'] =  var_df[e + '_freq'].astype('int')

#     not_var_df = you_analysis[~you_analysis['tags'].str.contains(e)]
#     not_var_df[e + '_freq'] = 0
#     #not_var_df[e + '_freq'] =  not_var_df[e + '_freq'].astype('int')
    
#     contador += 1
    
#     toto = pd.concat([var_df, not_var_df])
#     you_analysis[e + '_freq'] = toto[e + '_freq']
    
    var_df = you_analysis[you_analysis['tags'].str.contains(dfl.tags[e])]
    x = list(var_df.index)
    you_analysis[dfl.tags[e]+'_freq'] = 0
    you_analysis.loc[x,[dfl.tags[e]+'_freq']] = dfl.counts[contador]

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:17: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [25]:
var_df = you_analysis[you_analysis['tags'].str.contains('funny')]
x = list(var_df.index)
you_analysis['funny_freq'] = 0
you_analysis.loc[x,['fun_freq']] = 1
you_analysis

,views,title,tags,category_id,tags_split,fun_freq
10,81377,Dion Lewis' 103-Yd Kick Return TD vs. Denver! ...,NFL|Football|offense|defense|afc|nfc|American ...,17,"[NFL, Football, offense, defense, afc, nfc, Am...",0
36,288922,TL;DW - Every DCEU Movie Before Justice League,screenjunkies|screen junkies|sj news|honest tr...,1,"[screenjunkies, screen junkies, sj news, hones...",0
41,34785,Iraq-Iran earthquake: Deadly tremor hits borde...,bbc|bbc news|news|iran|iran news|iraq|iraq new...,25,"[bbc, bbc news, news, iran, iran news, iraq, i...",0
55,1496225,Jason Momoa Wows Hugh Grant With Some Dothraki...,Graham Norton|Graham Norton Show Official|Ente...,24,"[Graham Norton, Graham Norton Show Official, E...",0
76,237307,Mayo Clinic's first face transplant patient me...,Mayo Clinic|Health Care (Issue)|Healthcare Sci...,28,"[Mayo Clinic, Health Care (Issue), Healthcare ...",0
78,1497519,Jason Momoa & Lisa Bonet: Love at First Sight,James Corden|The Late Late Show|Colbert|late n...,24,"[James Corden, The Late Late Show, Colbert, la...",1
102,225286,Mark Wahlberg's Kids Use Him for His Celeb Con...,Late Night|Seth Meyers|Mark Wahlberg|Kids|Cele...,23,"[Late Night, Seth Meyers, Mark Wahlberg, Kids,...",1
104,5476737,Camila Cabello - Havana (Vertical Video) ft. Y...,camila cabello|camila|young thug|havana|fifth ...,10,"[camila cabello, camila, young thug, havana, f...",0
106,304926,"Owen Wilson on Meeting Julia Roberts, and Tand...",owen wilson|owen|wilson|julia roberts|tandem b...,24,"[owen wilson, owen, wilson, julia roberts, tan...",0
117,1017803,Meryl Streep Meets Anna Wintour at Vogue,anna wintour|meryl streep|meryl streep intervi...,24,"[anna wintour, meryl streep, meryl streep inte...",0
122,1315873,Mean Tweets – Country Music Edition #3,jimmy|jimmy kimmel|jimmy kimmel live|late nigh...,23,"[jimmy, jimmy kimmel, jimmy kimmel live, late ...",1
127,98422,Sam Smith - The Thrill of It All ALBUM REVIEW,album|review|music|reviews|indie|underground|n...,10,"[album, review, music, reviews, indie, undergr...",0
136,95944,Alicia Keys - When You Were Gone,[none],10,[[none]],0
139,95085,Live in the now!,cash|Wayne's|World|wayne|waynes|fender|strat|s...,24,"[cash, Wayne's, World, wayne, waynes, fender, ...",0
140,91776,Sigrid - Strangers (Lyric Video),Sigrid|Strangers|Island|Records|Pop,10,"[Sigrid, Strangers, Island, Records, Pop]",0
143,77630,Three meals that cost me $1.50 each,brothers green eats|budget cooking|cooking for...,26,"[brothers green eats, budget cooking, cooking ...",0
144,378750,Dark | Official Trailer [HD] | Netflix,Netflix|Baran Bo Odar|Jantje Friese|DARK|darkm...,24,"[Netflix, Baran Bo Odar, Jantje Friese, DARK, ...",0
145,151709,Where is TOKYO'S GREATEST View?,tokyo|japan|skytree|metropolitan|tower|japanes...,24,"[tokyo, japan, skytree, metropolitan, tower, j...",0
146,175852,"Dropping And CATCHING A Paper Airplane At 2,00...",paramotor|tucker|gott|tucker gott|paramotor cr...,24,"[paramotor, tucker, gott, tucker gott, paramot...",0
147,5149,Improvising in the style of different classica...,improvise classical music|improvisation|classi...,10,"[improvise classical music, improvisation, cla...",1
148,1905487,Thirty Seconds To Mars - Walk On Water (Offici...,Thirty|Seconds|To|Mars|Walk|On|Water|to|Mars/I...,10,"[Thirty, Seconds, To, Mars, Walk, On, Water, t...",0
149,9632678,Harry Styles - Kiwi,Columbia|Harry Styles|Kiwi|Pop,10,"[Columbia, Harry Styles, Kiwi, Pop]",0
150,476389,I Miss the Old Taylor,taylor swift|swiftie|reputation|ready for it|g...,24,"[taylor swift, swiftie, reputation, ready for ...",0
152,762616,Maroon 5 - What Lovers Do (Live On The Ellen D...,Maroon 5 SZA What Lovers Do Red Pill Blues Ell...,10,[Maroon 5 SZA What Lovers Do Red Pill Blues El...,0
154,691229,I Picked My Girlfriend's Outfit Blindfolded,i picked my girlfriend's outfit blindfolded|bl...,22,"[i picked my girlfriend's outfit blindfolded, ...",0
155,6412,"The Oak Beams of New College, Oxford",googlevideo,27,[googlevideo],0
157,79306,What Are Diminutives – and Why We Like Them,the school of life|school|life|education|relat...,27,"[the school of life, school, life, education, ...",0
158,812007,KUWTK | Scott Gets Upset Over Being Uninvited ...,Kardashians|Real Time|Kim Kardashian|Kourtney ...,24,"[Kardashians, Real Time, Kim Kardashian, Kourt...",0
159,55398,"Chapter 28: I Love My Baby But, I Miss My Dad",Whitney Port|I Love My Baby But|Grief|Grieving...,26,"[Whitney Port, I Love My Baby But, Grief, Grie...",0
160,773,Huffy Metaloid Bicycle Commercial 1997,90s commercials|Huffy,27,"[90s commercials, Huffy]",0
...,...,...,...,...,...,...
40919,324219,The History of Fortnite Battle Royale - Did Yo...,fortnite|fortnite pc|fortnite battle royale|ba...,20,"[fortnite, fortnite pc, fortnite battle royale...",0
40920,16777231,Christina Aguilera - Fall In Line (Official Vi...,Christina Aguilera feat. Demi Lovato|Fall In L...,10,"[Christina Aguilera feat. Demi Lovato, Fall In...",0
40921,832097,James Bay - Delicate (Taylor Swift cover) in t...,James Bay|Taylor Swift|Delicate|BBC|Radio 1|Li...,10,"[James Bay, Taylor Swift, Delicate, BBC, Radio...",0
40922,588133,Mindy Kaling Is Mad She Wasn't Invited to the ...,The Tonight Show|Jimmy Fallon|Mindy Kaling|Mad...,23,"[The Tonight Show, Jimmy Fallon, Mindy Kaling,...",1
40923,5985284,Camels vs. Cactus!!! جمل,camels|cactus|pets|livestock|animals|baby|ness...,15,"[camels, cactus, pets, livestock, animals, bab...",0
40924,2025376,"GIANT Bowl of Lucky Charms CHALLENGE (5,000+ C...",Matt Stonie|Megatoad|Competitive Eating|Food C...,24,"[Matt Stonie, Megatoad, Competitive Eating, Fo...",0
40925,40087764,"Diplo, French Montana & Lil Pump ft. Zhavia - ...",Welcome to the party|Diplo|Lil Pump|French Mon...,10,"[Welcome to the party, Diplo, Lil Pump, French...",0
40926,2252933,435,tyler the creator|435|nice toenails|golf le fl...,27,"[tyler the creator, 435, nice toenails, golf l...",0
40927,1925345,That Time It Rained for Two Million Years,dinosaurs|dinos|paleo|paleontology|scishow|eon...,28,"[dinosaurs, dinos, paleo, paleontology, scisho...",0
40928,1165339,Watch a Hercules Beetle Metamorphose Before Yo...,nat geo wild|national geographic|wild|wildlife...,15,"[nat geo wild, national geographic, wild, wild...",0
40929,2653229,"Mustard, Nick Jonas - Anywhere",Mustard|Nick|Jonas|Anywhere|10|Summers|Intersc...,10,"[Mustard, Nick, Jonas, Anywhere, 10, Summers, ...",0
40930,2003345,Maddie Poppe Wins American Idol 2018 - Finale ...,ABC|americanidol|idol|american idol|ryan|seacr...,24,"[ABC, americanidol, idol, american idol, ryan,...",0
40931,3825440,Terrible Magicians | Rudy Mancuso & Juanpa Zurita,terrible magicians|rudy|mancuso|juanpa|zurita|...,10,"[terrible magicians, rudy, mancuso, juanpa, zu...",0
40932,1437051,The Voice 2018 Brynn Cartelli - Finale: Skyfall,the voice season 14|the voice finale performan...,24,"[the voice season 14, the voice finale perform...",0
40933,979732,8 Survival Myths That Will Definitely Make Thi...,SciShow|science|Hank|Green|education|learn|sno...,27,"[SciShow, science, Hank, Green, education, lea...",0
40934,8607264,Royal Wedding - SNL,SNL|Saturday Night Live|SNL Season 43|SNL Epis...,24,"[SNL, Saturday Night Live, SNL Season 43, SNL ...",1
40935,4945185,Nicki Minaj - Chun-Li (Live on SNL / 2018),Nicki Minaj new music|Nicki Minaj Queen|Nicki ...,10,"[Nicki Minaj new music, Nicki Minaj Queen, Nic...",0
40936,3229540,LIE DETECTOR TEST WITH MY GIRLFRIEND!,miniminter|mm7games|simon|random|lie detector|...,20,"[miniminter, mm7games, simon, random, lie dete...",0
40937,8300584,Lucas the Spider - Giant Spider,LucastheSpider|Animation|3D Animation|Cute,1,"[LucastheSpider, Animation, 3D Animation, Cute]",0
40938,41803845,Daddy Yankee - Hielo (Video Oficial),daddy yankee reggaeton|daddy yankee youtube|mu...,10,"[daddy yankee reggaeton, daddy yankee youtube,...",0
40939,6004782,SZA - Garden (Say It Like Dat) (Official Video),Garden (Say It Like Dat)|R&B|SZA|Top Dawg Ente...,10,"[Garden (Say It Like Dat), R&B, SZA, Top Dawg ...",0
40940,5564576,Brad Pitt Bid $120k For A Night With Emilia Cl...,Graham Norton|Graham Norton Show Official|Ente...,24,"[Graham Norton, Graham Norton Show Official, E...",0
40941,5534278,Dan + Shay - Speechless (Wedding Video),wedding video|heartfelt wedding video|emotiona...,10,"[wedding video, heartfelt wedding video, emoti...",0
40942,23502572,Fifth Harmony - Don't Say You Love Me,fifth hamony|harmonizers|lauren|ally|normani|c...,10,"[fifth hamony, harmonizers, lauren, ally, norm...",0
40943,8259128,BTS Plays With Puppies While Answering Fan Que...,BuzzFeed|BuzzFeedVideo|Puppy Interview|puppy|j...,22,"[BuzzFeed, BuzzFeedVideo, Puppy Interview, pup...",1
40944,1685609,The Cat Who Caught the Laser,aarons animals|aarons|animals|cat|cats|kitten|...,15,"[aarons animals, aarons, animals, cat, cats, k...",0
40945,1064798,True Facts : Ant Mutualism,[none],22,[[none]],0
40946,1066451,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,I gave safiya nygaard a perfect hair makeover ...,24,[I gave safiya nygaard a perfect hair makeover...,0
40947,5660813,How Black Panther Should Have Ended,Black Panther|HISHE|Marvel|Infinity War|How It...,1,"[Black Panther, HISHE, Marvel, Infinity War, H...",0
40948,10306119,Official Call of Duty®: Black Ops 4 — Multipla...,call of duty|cod|activision|Black Ops 4,20,"[call of duty, cod, activision, Black Ops 4]",0

In [9]:
banana = pd.DataFrame()
banana['views'] = you_analysis['views']
banana['top_freq'] = dfl.iloc[:,5:].max(axis=1)
banana
#plt.scatter(banana.top_freq, banana.views)

#you_analysis[(you_analysis['views'])> 200000000]

          views  top_freq
10        81377       NaN
36       288922       NaN
41        34785       NaN
55      1496225       NaN
76       237307       NaN
78      1497519       NaN
102      225286       NaN
104     5476737       NaN
106      304926       NaN
117     1017803       NaN
122     1315873       NaN
127       98422       NaN
136       95944       NaN
139       95085       NaN
140       91776       NaN
143       77630       NaN
144      378750       NaN
145      151709       NaN
146      175852       NaN
147        5149       NaN
148     1905487       NaN
149     9632678       NaN
150      476389       NaN
152      762616       NaN
154      691229       NaN
155        6412       NaN
157       79306       NaN
158      812007       NaN
159       55398       NaN
160         773       NaN
...         ...       ...
40919    324219       NaN
40920  16777231       NaN
40921    832097       NaN
40922    588133       NaN
40923   5985284       NaN
40924   2025376       NaN
40925  40087764       NaN
40926   2252933       NaN
40927   1925345       NaN
40928   1165339       NaN
40929   2653229       NaN
40930   2003345       NaN
40931   3825440       NaN
40932   1437051       NaN
40933    979732       NaN
40934   8607264       NaN
40935   4945185       NaN
40936   3229540       NaN
40937   8300584       NaN
40938  41803845       NaN
40939   6004782       NaN
40940   5564576       NaN
40941   5534278       NaN
40942  23502572       NaN
40943   8259128       NaN
40944   1685609       NaN
40945   1064798       NaN
40946   1066451       NaN
40947   5660813       NaN
40948  10306119       NaN

[6282 rows x 2 columns]

In [10]:
#trans.rename(index=str, columns={e: "vid_{0}".format(e)})
trans.dtypes

NameError: name 'trans' is not defined

In [ ]:
trans.nlargest(3,17)

In [ ]:
for index, row in trans.iterrows():
     print(index)

### ANÁLISE DESCRITIVA

___
## C. MODELOS DE PREDIÇÃO

o MODELO DE PREDIÇÃO PELA MÉDIA (Sem uso de variável explicativa).

o MODELO DOS K VIZINHOS MAIS PRÓXIMOS (K-Nearest Neighbors Regression)

o MODELO DE REGRESSÃO LINEAR (Multiple Linear Regression)

o MODELO DE ÁRVORES DE REGRESSÃO (Decision Tree Regression)

___
## D. PROCESSO E ESTATÍSTICAS DE VALIDAÇÃO

[Esse item depende dos resultados das modelagens anteriores! Organize-os aqui de forma clara!]

___
## E. CONCLUSÃO

___
## F. REFERÊNCIAS BIBLIOGRÁFICAS