___
## Ciência dos Dados - PROJETO 3 - INSPER

___
#### Victor Arruda Niubó

#### Giovanni Pertence Cardoso dos Santos

#### Gustavo Schlieper Tessitore

#### Leonardo Cesari Costa
___

# Previsão da quantidade de views

___

## 1. INTRODUÇÃO

O objetivo do projeto é estimar a quantidade de visualizações que um vídeo terá com base no título, horário de publicação e as tags atribuidas aos vídeos.

___
## 2. MINERANDO DADOS e CARACTERÍSTICAS DO DATASET

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats
import itertools
import math
import json
import os
from scipy.stats import norm

In [2]:
#remove mesagens de aviso do Pandas
pd.options.mode.chained_assignment = None
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\gugat\Desktop\Insper DS 2018.1\2.1 semestre\Dados\cdados_dp\P3

### BASE DE DADOS

In [3]:
# Base de dados dos videos em destaque do youtube US
you_data = pd.read_csv("USvideos.csv")
# jason que contém a relação id - categoria
ids = json.loads(open('US_category_id.json').read())

# filtro das variáveis de interesse
you_analysis = you_data.loc[you_data.views|you_data.title|you_data.tags|you_data.category_id,\
                           ['views', 'title', 'tags', 'category_id']]

you_analysis.head()

,views,title,tags,category_id
0,748374,WE WANT TO TALK ABOUT OUR MARRIAGE,SHANtell martin,22
1,2418783,The Trump Presidency: Last Week Tonight with J...,last week tonight trump presidency|last week t...,24
2,3191434,"Racist Superman | Rudy Mancuso, King Bach & Le...",racist superman|rudy|mancuso|king|bach|racist|...,23
3,343168,Nickelback Lyrics: Real or Fake?,rhett and link|gmm|good mythical morning|rhett...,24
4,2095731,I Dare You: GOING BALD!?,ryan|higa|higatv|nigahiga|i dare you|idy|rhpc|...,24

In [4]:
# separação da string das tags em uma lista de strings
tags_split = you_analysis.tags.str.split(pat = '|')
you_analysis['tags_split'] = tags_split
you_analysis.head()

,views,title,tags,category_id,tags_split
0,748374,WE WANT TO TALK ABOUT OUR MARRIAGE,SHANtell martin,22,[SHANtell martin]
1,2418783,The Trump Presidency: Last Week Tonight with J...,last week tonight trump presidency|last week t...,24,"[last week tonight trump presidency, last week..."
2,3191434,"Racist Superman | Rudy Mancuso, King Bach & Le...",racist superman|rudy|mancuso|king|bach|racist|...,23,"[racist superman, rudy, mancuso, king, bach, r..."
3,343168,Nickelback Lyrics: Real or Fake?,rhett and link|gmm|good mythical morning|rhett...,24,"[rhett and link, gmm, good mythical morning, r..."
4,2095731,I Dare You: GOING BALD!?,ryan|higa|higatv|nigahiga|i dare you|idy|rhpc|...,24,"[ryan, higa, higatv, nigahiga, i dare you, idy..."

In [5]:
# Junta todas as strings em uma lista só para pder fazer um value_counts() e criar um
# dataframe com as tags e as frquencias de cada uma
merged = list(itertools.chain(*you_analysis.tags_split))
contador = pd.DataFrame({'col':merged})
limpino = contador[contador.col != '[none]']
dfl = limpino.col.value_counts().rename_axis('tags').reset_index(name='counts')
dfl = dfl[(dfl['counts'])> 500]
dfl.head()

     tags  counts
0   funny    3603
1  comedy    2931
2  how to    1604
3   music    1302
4     Pop    1280

In [6]:
# Separa as linhas que contém certa tag
contador = 0
for e in dfl.tags:
    var_df = you_analysis[you_analysis['tags'].str.contains(e)]
    var_df[e + '_freq'] = dfl.counts[contador]

    not_var_df = you_analysis[~you_analysis['tags'].str.contains(e)]
    not_var_df[e + '_freq'] = np.NaN
    
    contador += 1
    
    toto = pd.concat([var_df, not_var_df])
    you_analysis[e + '_freq'] = toto[e + '_freq']

you_analysis.head(3)

,views,title,tags,category_id,tags_split,funny_freq,comedy_freq,how to_freq,music_freq,Pop_freq,...,music video_freq,talk show_freq,documentary_freq,nba_freq,movies_freq,Funny_freq,reaction_freq,technology_freq,family_freq,show_freq
0,748374,WE WANT TO TALK ABOUT OUR MARRIAGE,SHANtell martin,22,[SHANtell martin],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2418783,The Trump Presidency: Last Week Tonight with J...,last week tonight trump presidency|last week t...,24,"[last week tonight trump presidency, last week...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3191434,"Racist Superman | Rudy Mancuso, King Bach & Le...",racist superman|rudy|mancuso|king|bach|racist|...,23,"[racist superman, rudy, mancuso, king, bach, r...",NaN,NaN,NaN,1302.0,NaN,...,557.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### ANÁLISE DESCRITIVA

___
## C. MODELOS DE PREDIÇÃO

o MODELO DE PREDIÇÃO PELA MÉDIA (Sem uso de variável explicativa).

o MODELO DOS K VIZINHOS MAIS PRÓXIMOS (K-Nearest Neighbors Regression)

o MODELO DE REGRESSÃO LINEAR (Multiple Linear Regression)

o MODELO DE ÁRVORES DE REGRESSÃO (Decision Tree Regression)

___
## D. PROCESSO E ESTATÍSTICAS DE VALIDAÇÃO

[Esse item depende dos resultados das modelagens anteriores! Organize-os aqui de forma clara!]

___
## E. CONCLUSÃO

___
## F. REFERÊNCIAS BIBLIOGRÁFICAS